/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.contact{
    max-width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.contact--title{
    margin-top: 54px;
    margin-bottom: 54px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.contact--line{
    margin-bottom: 49px;
    width: 144px;
    border: 1px solid #EC7979;
    background: #EC7979;
}

.contact--subtitle{
    margin-bottom: 70px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #86878B;
}

.reg-contact{
    margin-left: 10%;
    float: left;
    width: 486px;
    height: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

#names{
    width: 486px;
    height: 38px;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);;
}

#Emails{
    width: 486px;
    height: 38px;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);;
}

#Passwords{
    width: 486px;
    height: 38px;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);;
}

.reg-message{
    padding-right: 10%;
    float: right;
    display: flex;
    height: 210px;
    width: 486px;
}

#sms::placeholder{
    position: absolute;
  
}

#sms{
    position: relative;
    height: 210px;
    width: 486px; 
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);;
}

.button-setings{
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contact__button{
    margin-top: 50px;
    position: absolute;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    border: none;
}

.contact__button--text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.contact__button:hover{
    background: #AB4949;
}

.contact__button:active{
    background: #EC7979;
}